services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io
    container_name: changedetection
    hostname: changedetection
    volumes:
      - changedetection-data:/datastore
    environment:
      - PLAYWRIGHT_DRIVER_URL=ws://browser-sockpuppet-chrome:3000
      - TZ={{ changedetection_tz }}
      - HIDE_REFERER=true
      - DISABLE_VERSION_CHECK=true
      - LOGGER_LEVEL=INFO
      - FETCH_WORKERS={{ changedetection_fetch_workers }}
{% if changedetection_base_url is defined %}
      - BASE_URL={{ changedetection_base_url }}
{% endif %}
    ports:
      - "{{ changedetection_port }}:5000"
    restart: unless-stopped
    depends_on:
      browser-sockpuppet-chrome:
        condition: service_started

  browser-sockpuppet-chrome:
    hostname: browser-sockpuppet-chrome
    image: dgtlmoon/sockpuppetbrowser:latest
    cap_add:
      - SYS_ADMIN
    restart: unless-stopped
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - MAX_CONCURRENT_CHROME_PROCESSES={{ changedetection_max_chrome }}

volumes:
  changedetection-data:
